* {
    margin: 0;
    padding: 0;
}
.h-100 {
    height: 100%!important;
}

@media (min-width: 1200px){
.container {
    max-width: 1140px;
}}

@media (min-width: 992px){
.container {
    max-width: 960px;
}}
@media (min-width: 768px){
.container {
    max-width: 720px;
}}
@media (min-width: 576px){
.container {
    max-width: 540px;
}}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.classy-nav-container {
    background-color: transparent;
    padding: 0;
}

.classy-nav-container {
    position: relative;
    z-index: 100;
    background-color: #ffffff;
}

.classy-nav-container .classy-navbar {
    height: 100px;
    padding: 0 3%;
}

.classy-navbar {
    width: 100%;
    height: 70px;
    padding: 0.5em 2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.justify-content-between {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.classy-nav-container * {
    box-sizing: border-box;
}
.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}
.classy-navbar .nav-brand {
    font-size: 26px;
    font-weight: 500;
    color: #565656;
    display: inline-block;
    margin-right: 30px;
}